<launch>

  <param name="robot_description" textfile="$(find phantomx_description)/urdf/phantomx.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find phantomx_description)/urdf/phantomx.urdf -urdf -model phantomx -z 0.024" />

  <include file="$(find phantomx_control)/launch/phantomx_control.launch"/>

</launch>